@charset "UTF-8";
* {
  font-family: "Poppins", sans-serif;
}

/*  NOTES:  */
/*  Create a bunch of classes from the colours  */
/*  listed in $colours:                         */
/*  Alternatively, write a string-array and     */
/*  iterate through that to get the appropriate */
/*  colours out of the map:                     */
.btn-base {
  border-radius: 5px;
  position: relative;
  display: block;
  cursor: pointer;
}

.btn-base img {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn-base p {
  margin: 0;
}

.btn-base, .btn-base p {
  height: 56px;
  line-height: 56px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.btn-header {
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  font-size: 18px;
}

.btn-header img {
  height: 24px;
  width: 24px;
}

#btn-support {
  background-color: #4183d7;
}

#btn-support:hover {
  background-color: #286abd;
}

#btn-contact {
  background-color: #999aa2;
}

#btn-contact:hover {
  background-color: #7e808a;
}

#btn-support, #btn-contact {
  display: none;
}

#btn-support img, #btn-contact img {
  left: 20px;
}

#btn-support p, #btn-contact p {
  margin-left: 40px;
}

@media (min-width: 992px) {
  #btn-support, #btn-contact {
    display: block;
    -ms-flex-preferred-size: calc((100% - 20px) / 2);
        flex-basis: calc((100% - 20px) / 2);
  }
  #btn-support p, #btn-contact p {
    height: 56px;
    line-height: 56px;
  }
}

#btn-menuburger {
  background-color: #333645;
}

#btn-menuburger:hover {
  background-color: #1d1f28;
}

#btn-menuburger img {
  top: 20px;
  max-height: 25px;
  width: 60px;
}

#btn-menuburger p {
  height: initial;
  line-height: initial;
  position: absolute;
  top: 30px;
  width: 100%;
  font-size: 12px;
}

#btn-search {
  background-color: #999aa2;
}

#btn-search:hover {
  background-color: #7e808a;
}

#btn-search img:nth-child(1) {
  display: inline-block;
  width: 24px;
  height: 24px;
}

#btn-search img:nth-child(2) {
  display: none;
  width: 20px;
  height: 20px;
}

#btn-search:hover {
  background-color: #7e808a;
}

#btn-search, #btn-phone {
  border: none;
}

.btn-slide {
  height: 60px;
  line-height: 60px;
  width: 224px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .btn-slide {
    margin-left: 0;
  }
}

#slideBtn-webDesign {
  background-color: #926fb1;
}

#slideBtn-webDesign:hover {
  background-color: #79539a;
}

#slideBtn-ITSupport {
  background-color: #4183d7;
}

#slideBtn-ITSupport:hover {
  background-color: #286abd;
}

#slideBtn-telecomsServices {
  background-color: #d64541;
}

#slideBtn-telecomsServices:hover {
  background-color: #bc2c28;
}

#slideBtn-bespokeSoftware {
  background-color: #67809f;
}

#slideBtn-bespokeSoftware:hover {
  background-color: #526781;
}

#slideBtn-digitalMarketing {
  background-color: #2ecc71;
}

#slideBtn-digitalMarketing:hover {
  background-color: #25a25a;
}

#slideBtn-cyberSecurity {
  background-color: #f62459;
}

#slideBtn-cyberSecurity:hover {
  background-color: #de093f;
}

#btn-about {
  width: 173.19px;
  margin-bottom: 20px;
  background-color: white;
  color: #333645;
}

#btn-about:hover {
  background-color: #e6e6e6;
}

.btn-readmore-news {
  margin-top: 30px;
  width: 100px;
}

.btn-socMed {
  border-radius: 0;
  margin-top: 30px;
  background-color: #1d1f28;
}

.btn-socMed:hover {
  background-color:  ();
}

.btn-socMed img {
  width: 30px;
  height: 30px;
}

#cookie-settings button, #cookie-settings .btn-ctnr {
  height: 46.4px;
  line-height: 46.4px;
}

#cookie-settings .btn-ctnr button {
  text-transform: uppercase;
  width: 90px;
  display: inline-block;
  color: black;
}

#cookie-settings .btn-ctnr button:first-of-type:before {
  content: "Disable";
}

#cookie-settings .btn-ctnr button:last-of-type:before {
  content: "Enable";
}

/*  NOTES:  */
/*  Create a bunch of classes from the colours  */
/*  listed in $colours:                         */
/*  Alternatively, write a string-array and     */
/*  iterate through that to get the appropriate */
/*  colours out of the map:                     */
#cookie-popup {
  background-color: rgba(0, 0, 0, 0.7);
  color: #666666;
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 1000000;
  padding: 30px;
  height: 100%;
}

#cookie-popup .thingy {
  border-radius: 5px;
  background-color: white;
  height: auto;
  position: absolute;
  width: calc(100% - (30px * 2));
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#cookie-popup h3, #cookie-popup .text-ctnr, #cookie-popup .link-ctnr {
  padding: 20px;
}

#cookie-popup .text-ctnr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

#cookie-popup h3 {
  margin: 0;
  color: #333645;
  font-size: 26px;
}

#cookie-popup p {
  line-height: 30px;
}

#cookie-popup p:first-of-type {
  margin-top: 0;
}

#cookie-popup p:last-of-type {
  margin-bottom: 0;
}

#cookie-popup .link-ctnr {
  width: 100%;
  content: "";
  display: table;
  clear: both;
}

#cookie-popup a {
  width: 100%;
  height: 46.4px;
  line-height: 46.4px;
  font-size: 17px;
}

#cookie-popup a:first-of-type {
  float: left;
  background-color: #999aa2;
  margin-bottom: 30px;
}

#cookie-popup a:last-of-type {
  float: right;
  background-color: #926fb1;
}

@media (min-width: 768px) {
  #cookie-popup .thingy {
    width: 600px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #cookie-popup a {
    width: calc(50% - 15px);
  }
  #cookie-popup a:first-of-type {
    margin: 0;
  }
}

#cookie-settings {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000001;
  background-color: white;
  padding: 15px;
}

#cookie-settings p {
  font-size: 14px;
}

#cookie-settings h3 {
  font-size: 26px;
}

#cookie-settings h1 {
  font-size: 36px;
}

#cookie-settings h4 {
  font-size: 16px;
  font-weight: 600;
}

#cookie-settings table {
  overflow-x: scroll;
}

#cookie-settings table tr {
  background: #ddd;
}

#cookie-settings table tr:first-of-type {
  background: #aaa;
}

#cookie-settings table th {
  color: white;
}

#cookie-settings table th, #cookie-settings table td {
  padding: 15px;
  line-height: 1;
}

#cookie-settings table td, #cookie-settings table a {
  color: #666;
}

#cookie-settings table a:first-of-type:before {
  content: "+";
}

@media (min-width: 768px) {
  #cookie-settings .content-ctnr {
    width: 750px;
    margin: auto;
  }
}

/*  NOTES:  */
/*  Create a bunch of classes from the colours  */
/*  listed in $colours:                         */
/*  Alternatively, write a string-array and     */
/*  iterate through that to get the appropriate */
/*  colours out of the map:                     */
header * {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.header-wrapper {
  background-color: white;
  width: 100%;
  height: auto;
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin: auto 0;
}

.logo img {
  display: inline-block;
  max-height: 70px;
  width: auto;
  max-width: 80%;
}

.logo img:hover {
  cursor: pointer;
}

.navbar-opts, #btn-menuburger {
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  margin-left: 20px;
}

.navbar-opts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.searchbar, .inp-search {
  height: 56px;
  border: none;
}

.searchbar {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.inp-search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
  padding-left: 20px;
  background-color: white;
  font-size: 15px;
  width: 100%;
}

.inp-search:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 768px) {
  .searchbar {
    border: 3px solid #cccccc;
    margin-top: 10px;
  }
  .inp-search {
    width: 100%;
  }
  .searchbar, .inp-search, #btn-search {
    background-color: #e5e5e5;
    height: 40px;
  }
  #btn-search img:nth-child(1) {
    display: none;
  }
  #btn-search img:nth-child(2) {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .header-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: calc(768px - (2 * 20px));
  }
  .navbar-opts {
    display: none;
  }
  #btn-menuburger {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #btn-search {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .searchbar {
    -ms-flex-preferred-size: 234px;
        flex-basis: 234px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .inp-search {
    border-width: 1px;
    border-style: solid none solid solid;
    border-color: #cccccc;
    width: calc(100% - 60px);
  }
  .inp-search:focus {
    border: 1px solid #5bc0de;
    -webkit-box-shadow: 0 0 8px 0 rgba(91, 192, 222, 0.75);
            box-shadow: 0 0 8px 0 rgba(91, 192, 222, 0.75);
  }
}

@media (min-width: 992px) {
  .header-wrapper {
    width: calc(992px - (2 * 20px));
  }
  .navbar-opts {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: calc(288px + 20px);
        flex-basis: calc(288px + 20px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #btn-phone {
    display: none;
  }
  .searchbar {
    -ms-flex-preferred-size: 60px;
        flex-basis: 60px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin-left: 20px;
  }
  .inp-search {
    display: none;
  }
  #btn-search {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  #btn-search img:nth-child(1) {
    display: inline-block;
  }
  #btn-search img:nth-child(2) {
    display: none;
  }
}

@media (min-width: 1260px) {
  .header-wrapper {
    width: calc(1260px - (2 * 20px));
  }
  .searchbar {
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
  }
  #btn-search {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .inp-search {
    display: inline-block;
  }
}

/*  NOTES:  */
/*  Create a bunch of classes from the colours  */
/*  listed in $colours:                         */
/*  Alternatively, write a string-array and     */
/*  iterate through that to get the appropriate */
/*  colours out of the map:                     */
#banner-menu {
  display: none;
  height: 97.6px;
  background-color: #333645;
  width: 100%;
  height: auto;
  padding-left: 17.6px;
  padding-right: 17.6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto;
  padding-left: 36.6px;
  padding-right: 36.6px;
  box-sizing: border-box;
}

@media (min-width: 992px) {
  #banner-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#banner-menu > .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

@media (min-width: 992px) {
  #banner-menu > .flex-container {
    width: calc(992px - (2 * 17.6px));
  }
}

#banner-menu > .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

@media (min-width: 1260px) {
  #banner-menu > .flex-container {
    width: calc(1260px - (2 * 36.6px));
  }
}

#banner-menu .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}

#banner-menu .flex-container > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#banner-menu .cat {
  height: 97.6px;
  padding: 19px 0 18px;
  -ms-flex-preferred-size: 154.34%;
      flex-basis: 154.34%;
  text-align: center;
}

@media (min-width: 1260px) {
  #banner-menu .cat {
    -ms-flex-preferred-size: 192.66%;
        flex-basis: 192.66%;
  }
}

#banner-menu .cat .icon {
  height: 23.2px;
}

#banner-menu .cat .icon img:nth-child(2) {
  display: initial;
}

#banner-menu .cat .icon img:nth-child(1) {
  display: none;
}

#banner-menu .cat .icon > img {
  max-height: 100%;
}

#banner-menu .cat h5 {
  margin: 6px 0 0;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  color: white;
}

#banner-menu .cat h5:last-of-type {
  font-size: 18px;
  line-height: 18px;
  margin: 1.5px 0 0;
}

#banner-menu .cat:hover .icon img:nth-child(2) {
  display: none;
}

#banner-menu .cat:hover .icon img:nth-child(1) {
  display: initial;
}

#banner-menu .cat:hover .h-list-ctnr, #banner-menu .cat:hover .h-list {
  display: block;
}

#banner-menu .cat:nth-child(1):hover {
  background-color: #926fb1;
}

#banner-menu .cat:nth-child(1) .h-list-ctnr .h-list {
  background-color: #735093;
}

#banner-menu .cat:nth-child(2):hover {
  background-color: #4183d7;
}

#banner-menu .cat:nth-child(2) .h-list-ctnr .h-list {
  background-color: #2665b5;
}

#banner-menu .cat:nth-child(3):hover {
  background-color: #d64541;
}

#banner-menu .cat:nth-child(3) .h-list-ctnr .h-list {
  background-color: #b32a27;
}

#banner-menu .cat:nth-child(4):hover {
  background-color: #67809f;
}

#banner-menu .cat:nth-child(4) .h-list-ctnr .h-list {
  background-color: #4e627b;
}

#banner-menu .cat:nth-child(5):hover {
  background-color: #2ecc71;
}

#banner-menu .cat:nth-child(5) .h-list-ctnr .h-list {
  background-color: #239a55;
}

#banner-menu .cat:nth-child(6):hover {
  background-color: #f62459;
}

#banner-menu .cat:nth-child(6) .h-list-ctnr .h-list {
  background-color: #d4093c;
}

#banner-menu .h-list-ctnr {
  position: absolute;
  width: calc(100% * 10);
  left: calc(calc((calc(100% * 10) - 100%) / 2) * -1);
  top: 97.6px;
  padding-bottom: 90px;
  display: none;
  z-index: 1001;
}

#banner-menu .h-list-ctnr > * {
  position: absolute;
  padding-left: calc( (100% - (100% / 10)) / 2);
  padding-right: calc( (100% - (100% / 10)) / 2);
  width: 100%;
}

#banner-menu .h-list-ctnr .h-list {
  z-index: 1000;
  top: 0;
  margin: 0;
  text-align: left;
}

#banner-menu .h-list-ctnr .h-list li {
  display: inline-block;
}

#banner-menu .h-list-ctnr .h-list li:not(:last-of-type)::after {
  content: "-";
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

#banner-menu .h-list-ctnr .h-list a {
  color: white;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  text-transform: uppercase;
  line-height: 45px;
  font-size: 13px;
}

@media (min-width: 1260px) {
  #banner-menu .h-list-ctnr .h-list a {
    font-size: 16px;
  }
}

/*  NOTES:  */
/*  Create a bunch of classes from the colours  */
/*  listed in $colours:                         */
/*  Alternatively, write a string-array and     */
/*  iterate through that to get the appropriate */
/*  colours out of the map:                     */
.splash, .slide, .slide img, .slide img + div {
  width: 100%;
  height: 500px;
}

.splash {
  position: relative;
}

#dotHolder {
  position: absolute;
  width: 100%;
  height: 20px;
  text-align: center;
  bottom: 20%;
}

#dotHolder button {
  padding: 0;
}

.slide {
  position: relative;
}

.slide img {
  -o-object-fit: cover;
     object-fit: cover;
}

.slide img + div {
  position: absolute;
  background-image: -webkit-gradient(linear, left top, right top, from(black), color-stop(25%, rgba(63, 63, 63, 0.5)));
  background-image: linear-gradient(to right, black, rgba(63, 63, 63, 0.5) 25%);
  top: 0;
  left: 0;
}

.slide-text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
}

.slide-text * {
  color: white;
}

.slide-text h2 {
  text-transform: uppercase;
  font-size: 48px;
  margin: 0;
}

.slide-text p {
  margin: 50px 0;
}

/*Fixed size, text-align center*/
@media (min-width: 992px) {
  .slide-text {
    -webkit-transform: translate(calc(0px - (992px / 2) + 20px), -50%);
    transform: translate(calc(0px - (992px / 2) + 20px), -50%);
    text-align: left;
  }
  .slide-text, .slide-text h2, .slide-text p {
    width: calc(992px - (2 * 20px));
  }
}

@media (min-width: 1260px) {
  .slide-text {
    -webkit-transform: translate(calc(0px - (1260px / 2) + 20px), -50%);
    transform: translate(calc(0px - (1260px / 2) + 20px), -50%);
    text-align: left;
  }
  .slide-text, .slide-text h2, .slide-text p {
    width: calc(1260px - (2 * 20px));
  }
}

/*  NOTES:  */
/*  Create a bunch of classes from the colours  */
/*  listed in $colours:                         */
/*  Alternatively, write a string-array and     */
/*  iterate through that to get the appropriate */
/*  colours out of the map:                     */
@supports not (-ms-high-contrast: none) {
  /* Non-IE styles here */
  .nav-mid {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .nav-mid > .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
  @media (min-width: 768px) {
    .nav-mid > .flex-container {
      width: calc(768px - (2 * 20px));
    }
  }
  @media (min-width: 992px) {
    .nav-mid > .flex-container {
      width: calc(992px - (2 * 20px));
    }
  }
  @media (min-width: 1260px) {
    .nav-mid > .flex-container {
      width: calc(1260px - (2 * 20px));
    }
  }
  .nav-mid .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: calc(50px - calc(30px / 2));
    padding-bottom: calc(50px - calc(30px / 2));
  }
  .nav-mid .flex-container > * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .nav-mid .flex-container > * {
    margin-top: calc(30px / 2);
    margin-bottom: calc(30px / 2);
  }
  .nav-mid .panel {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 30px 40px;
  }
  @media (min-width: 768px) {
    /*Get last 4 children (2x2)*/
    .nav-mid .panel:nth-child(1n+4) {
      -ms-flex-preferred-size: calc( (100% - (30px * (2 - 1)) ) / 2);
          flex-basis: calc( (100% - (30px * (2 - 1)) ) / 2);
    }
  }
  @media (min-width: 992px) {
    /*Get first 3 children (3x1)*/
    .nav-mid .panel:nth-last-child(1n+5) {
      -ms-flex-preferred-size: calc( (100% - (30px * (3 - 1)) ) / 3);
          flex-basis: calc( (100% - (30px * (3 - 1)) ) / 3);
    }
  }
  @media (min-width: 1260px) {
    /*Get last 4 children (4x1)*/
    .nav-mid .panel:nth-child(1n+4) {
      -ms-flex-preferred-size: calc( (100% - (30px * (4 - 1)) ) / 4);
          flex-basis: calc( (100% - (30px * (4 - 1)) ) / 4);
    }
  }
}

.nav-mid .panel {
  border: solid #cccccc 1px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 0 20px -10px;
          box-shadow: 0 0 20px -10px;
}

.nav-mid .panel h2, .nav-mid .panel p {
  color: #333645;
}

.nav-mid .panel h2 {
  font-size: 18px;
}

.nav-mid .panel p {
  font-size: 13px;
}

.nav-mid .panel span {
  width: 28px;
  height: 3px;
  margin: auto;
  background-color: #333645;
  display: block;
}

.nav-mid .icon {
  padding: 18px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: inline-block;
}

.nav-mid .icon img {
  max-width: 100%;
  height: auto;
}

.nav-mid .icon img:nth-child(1) {
  display: inline-block;
}

.nav-mid .icon img:nth-child(2) {
  display: none;
}

.nav-mid .readmore {
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 30px;
  display: block;
  width: 129.74px;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 35px;
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.nav-mid .panel:hover .readmore, .nav-mid .panel:hover .icon {
  background-color: white;
}

.nav-mid .panel:hover h2, .nav-mid .panel:hover p {
  color: white;
}

.nav-mid .panel:hover span {
  background-color: white;
}

.nav-mid .panel:hover .icon img:nth-child(1) {
  display: none;
}

.nav-mid .panel:hover .icon img:nth-child(2) {
  display: inline-block;
}

.schema-nav-seagrey .readmore, .schema-nav-seagrey .icon {
  background-color: #67809f;
}

.schema-nav-seagrey:hover {
  background-color: #67809f;
}

.schema-nav-seagrey:hover .readmore {
  color: #67809f;
}

.schema-nav-blue .readmore, .schema-nav-blue .icon {
  background-color: #4183d7;
}

.schema-nav-blue:hover {
  background-color: #4183d7;
}

.schema-nav-blue:hover .readmore {
  color: #4183d7;
}

.schema-nav-green .readmore, .schema-nav-green .icon {
  background-color: #2ecc71;
}

.schema-nav-green:hover {
  background-color: #2ecc71;
}

.schema-nav-green:hover .readmore {
  color: #2ecc71;
}

.schema-nav-red .readmore, .schema-nav-red .icon {
  background-color: #d64541;
}

.schema-nav-red:hover {
  background-color: #d64541;
}

.schema-nav-red:hover .readmore {
  color: #d64541;
}

.schema-nav-purple .readmore, .schema-nav-purple .icon {
  background-color: #926fb1;
}

.schema-nav-purple:hover {
  background-color: #926fb1;
}

.schema-nav-purple:hover .readmore {
  color: #926fb1;
}

.schema-nav-pink .readmore, .schema-nav-pink .icon {
  background-color: #f62459;
}

.schema-nav-pink:hover {
  background-color: #f62459;
}

.schema-nav-pink:hover .readmore {
  color: #f62459;
}

/*  NOTES:  */
/*  Create a bunch of classes from the colours  */
/*  listed in $colours:                         */
/*  Alternatively, write a string-array and     */
/*  iterate through that to get the appropriate */
/*  colours out of the map:                     */
.about {
  background-color: #333645;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: auto;
  padding: 30px 20px;
}

.about .about {
  background-image: url("https://www.lamodeenimages.com/sites/default/files-lmi/styles/1365x768/public/images/article/homepage/full/louis-vuitton-volez-voguez-voyagez-shanghai-exhibition-center-la-mode-en-images-cover.jpg?itok=5ygYxpnS");
}

.about-text {
  line-height: 1.8;
  margin: auto;
  width: 100%;
  text-align: left;
}

.about-text * {
  color: white;
}

.about-text h2 {
  margin-top: 20px;
  margin-bottom: 28px;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.about-text p {
  font-size: 16px;
  margin-bottom: 25px;
}

.about-text p:first-of-type {
  font-weight: 600;
}

@media (min-width: 768px) {
  .about-text {
    width: calc(768px - (2 * 20px));
  }
}

@media (min-width: 992px) {
  .about-text {
    width: calc(992px - (2 * 20px));
  }
}

@media (min-width: 1260px) {
  .about-text {
    width: calc(1260px - (2 * 20px));
  }
}

@media (min-width: 1260px) {
  .about-text {
    padding-right: calc( (1260px - (2 * 20px)) / 2);
  }
}

/*  NOTES:  */
/*  Create a bunch of classes from the colours  */
/*  listed in $colours:                         */
/*  Alternatively, write a string-array and     */
/*  iterate through that to get the appropriate */
/*  colours out of the map:                     */
.latest-heading {
  margin: auto;
}

@media (min-width: 768px) {
  .latest-heading {
    width: calc(768px - (2 * 20px));
  }
}

@media (min-width: 992px) {
  .latest-heading {
    width: calc(992px - (2 * 20px));
  }
}

@media (min-width: 1260px) {
  .latest-heading {
    width: calc(1260px - (2 * 20px));
  }
}

.latest-heading span {
  width: 72px;
  height: 5px;
  margin-right: auto;
  background-color: #333645;
  display: block;
}

.latest-heading h2 {
  margin: 40px 0 35px;
  font-weight: 600;
  font-size: 20px;
  color: #333645;
  text-transform: uppercase;
}

.latest {
  background-image: linear-gradient(#cccccc 0, white 50px);
  background-size: cover;
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.latest > .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

@media (min-width: 768px) {
  .latest > .flex-container {
    width: calc(768px - (2 * 20px));
  }
}

@media (min-width: 992px) {
  .latest > .flex-container {
    width: calc(992px - (2 * 20px));
  }
}

@media (min-width: 1260px) {
  .latest > .flex-container {
    width: calc(1260px - (2 * 20px));
  }
}

.latest .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: calc(50px - calc(30px / 2));
  padding-bottom: calc(50px - calc(30px / 2));
}

.latest .flex-container > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.latest .flex-container > * {
  margin-top: calc(30px / 2);
  margin-bottom: calc(30px / 2);
}

.newspanel {
  position: relative;
  background-color: white;
  border: solid #cccccc 1px;
  border-radius: 4px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.newspanel > .img-wrapper {
  max-width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
}

.newspanel .foot-icon {
  -o-object-fit: contain;
     object-fit: contain;
}

.newspanel .banner-img {
  width: 100%;
  height: 250px;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: width 0.15s, opacity 0.15s;
  transition: width 0.15s, opacity 0.15s;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 992px) {
  .newspanel .banner-img:hover {
    opacity: 0.6;
    width: 115%;
  }
}

.newspanel .text-container {
  text-overflow: ellipsis;
  padding: 30px;
}

.newspanel .text-container a:nth-of-type(1) {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 600;
  background-color: transparent;
  text-decoration: none;
}

.newspanel .text-container a:nth-of-type(1):hover {
  text-decoration: underline;
}

.newspanel .text-container p {
  color: #747474;
  font-size: 13px;
}

.newspanel .text-container a:nth-of-type(2) {
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 30px;
  display: block;
  width: 100px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 35px;
  color: white;
}

.newspanel .divider {
  width: 100%;
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid #cccccc;
}

.newspanel .divider p:first-child {
  color: black;
  font-weight: 500;
}

.newspanel .divider td:first-child {
  width: 47px;
  height: auto;
}

.newspanel .divider img {
  width: 100%;
}

.newspanel .divider p {
  font-size: 14px;
  padding-left: 20px;
  margin: 0;
}

.newspanel .btn-readmore {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (min-width: 768px) {
  .latest {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .latest .flex-container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#f6f6f6));
    background-image: linear-gradient(transparent, #f6f6f6);
    padding-top: 0;
    padding-bottom: 0;
  }
  .latest .flex-container > * {
    margin-top: 0;
    margin-bottom: 0;
  }
  .newspanel:nth-last-child(1) {
    display: none;
  }
  .newspanel {
    -ms-flex-preferred-size: calc( (100% - (30px * (2 - 1)) ) / 2);
        flex-basis: calc( (100% - (30px * (2 - 1)) ) / 2);
  }
}

@media (min-width: 1260px) {
  .newspanel:nth-last-child(1) {
    display: block;
  }
  .newspanel {
    -ms-flex-preferred-size: calc( (100% - (30px * (3 - 1)) ) / 3);
        flex-basis: calc( (100% - (30px * (3 - 1)) ) / 3);
  }
}

/*  NOTES:  */
/*  Create a bunch of classes from the colours  */
/*  listed in $colours:                         */
/*  Alternatively, write a string-array and     */
/*  iterate through that to get the appropriate */
/*  colours out of the map:                     */
.news-tag {
  top: 10px;
  right: 0;
  padding: 0 10px;
  position: absolute;
  z-index: 100;
  height: 22px;
  width: auto;
}

.news-tag:hover a {
  text-decoration: underline;
}

.news-tag:hover > .description-ctnr {
  display: block;
}

.news-tag a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  bottom: 4px;
}

.news-tag a:before {
  text-transform: uppercase;
  height: 22px;
  line-height: 22px;
}

.description-ctnr {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  bottom: 32px;
}

.description-ctnr > div:first-child {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 200px;
  height: auto;
  text-align: center;
  background-color: #333645;
  padding: 10px 15px;
  color: white;
  font-size: 12px;
}

.description-ctnr > div:last-child {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform: rotateZ(45deg) translateX(-50%);
          transform: rotateZ(45deg) translateX(-50%);
  background-color: #333645;
  width: 10px;
  height: 10px;
  bottom: -8px;
  z-index: -1;
}

.panel-category-news .news-tag {
  background-color: #926fb1;
}

.panel-category-news .news-tag a:before {
  content: "news";
}

.panel-category-news .news-tag > .description-ctnr > div:first-child:before {
  content: "views news here or whatever";
}

.panel-category-news .text-container a:first-of-type {
  color: #926fb1;
}

.panel-category-news .text-container a:last-of-type {
  background-color: #926fb1;
}

.panel-category-news .text-container a:last-of-type:hover {
  background-color: #79539a;
}

.panel-category-careers .news-tag {
  background-color: #67809f;
}

.panel-category-careers .news-tag a:before {
  content: "careers";
}

.panel-category-careers .news-tag > .description-ctnr > div:first-child:before {
  content: "views careers here or whatever";
}

.panel-category-careers .text-container a:first-of-type {
  color: #67809f;
}

.panel-category-careers .text-container a:last-of-type {
  background-color: #67809f;
}

.panel-category-careers .text-container a:last-of-type:hover {
  background-color: #526781;
}

.panel-category-portfolio .news-tag {
  background-color: #d64541;
}

.panel-category-portfolio .news-tag a:before {
  content: "portfolios";
}

.panel-category-portfolio .news-tag > .description-ctnr > div:first-child:before {
  content: "views portfolios here or whatever";
}

.panel-category-portfolio .text-container a:first-of-type {
  color: #d64541;
}

.panel-category-portfolio .text-container a:last-of-type {
  background-color: #d64541;
}

.panel-category-portfolio .text-container a:last-of-type:hover {
  background-color: #bc2c28;
}

/*  NOTES:  */
/*  Create a bunch of classes from the colours  */
/*  listed in $colours:                         */
/*  Alternatively, write a string-array and     */
/*  iterate through that to get the appropriate */
/*  colours out of the map:                     */
.affiliates {
  background-color: #f6f6f6;
  height: auto;
  padding: 50px 0;
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.affiliates > .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

@media (min-width: 768px) {
  .affiliates > .flex-container {
    width: calc(768px - (2 * 20px));
  }
}

@media (min-width: 992px) {
  .affiliates > .flex-container {
    width: calc(992px - (2 * 20px));
  }
}

@media (min-width: 1260px) {
  .affiliates > .flex-container {
    width: calc(1260px - (2 * 20px));
  }
}

.affiliates .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.affiliates .flex-container > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  .affiliates {
    display: none;
  }
}

.affiliates .af {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  position: relative;
}

.affiliates .af * {
  color: white;
}

.affiliates .af img {
  padding: 0 20px;
  max-width: 100%;
}

.affiliates .af img:nth-of-type(1) {
  display: inline-block;
}

.affiliates .af img:nth-of-type(2) {
  display: none;
}

.affiliates .changable:hover {
  cursor: pointer;
}

.affiliates .changable:hover > img:nth-of-type(1) {
  display: none;
}

.affiliates .changable:hover > img:nth-of-type(2) {
  display: inline-block;
}

.affiliates .changable:hover .popup-ctnr, .affiliates .changable:hover .affi-popup {
  display: block;
}

.affiliates .popup-ctnr {
  display: none;
  padding: 0 calc((750px - 260px) / 2) 50px;
  width: 750px;
  height: 300px;
  position: absolute;
  left: 50%;
  bottom: 70px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.affiliates .affi-popup {
  display: block;
  position: absolute;
  bottom: 50px;
  width: 260px;
  height: auto;
  text-align: center;
  background-color: #333645;
  padding: 20px;
}

.affiliates .affi-popup > div {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  background-color: #333645;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -14px;
  left: 112px;
}

.affiliates h4 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 14px;
}

.affiliates p {
  font-size: 13px;
  margin-top: 11px;
  margin-bottom: 0;
}

.affiliates span {
  width: 28px;
  height: 3px;
  margin: auto;
  background-color: white;
  display: block;
}

/*  NOTES:  */
/*  Create a bunch of classes from the colours  */
/*  listed in $colours:                         */
/*  Alternatively, write a string-array and     */
/*  iterate through that to get the appropriate */
/*  colours out of the map:                     */
#links {
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #333645;
}

#links > .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

@media (min-width: 768px) {
  #links > .flex-container {
    width: calc(768px - (2 * 20px));
  }
}

@media (min-width: 992px) {
  #links > .flex-container {
    width: calc(992px - (2 * 20px));
  }
}

@media (min-width: 1260px) {
  #links > .flex-container {
    width: calc(1260px - (2 * 20px));
  }
}

#links .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 70px;
  padding-bottom: 70px;
}

#links .flex-container > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#links .flex-container .link-group {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 768px) {
  #links .flex-container .link-group {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (min-width: 1260px) {
  #links .flex-container .link-group {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

#links .flex-container ul {
  padding: 0;
}

#links .flex-container li {
  list-style: none;
}

#links * {
  color: white;
}

#links a, #links li {
  text-decoration: none;
  font-size: 13px;
}

#links h2 {
  font-size: 16px;
  text-transform: uppercase;
}

.socMed-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socMed-links > * {
  -ms-flex-preferred-size: calc( (100% - (30px * (2 - 1)) ) / 2);
      flex-basis: calc( (100% - (30px * (2 - 1)) ) / 2);
}

.socMed-links a {
  margin-top: 30px;
  background-color: #1d1f28;
  text-align: center;
  padding: 10px 0 8px;
}

.socMed-links a img {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.socMed-links a:hover {
  background-color: #4183d7;
}

* {
  background: transparent;
  color: black;
  font-family: "Poppins", sans-serif;
  letter-spacing: .4px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: white;
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}
/*# sourceMappingURL=styles.css.map */