@import "_PARTIALS/fonts",
        "_PAGE PARTIALS/header",
        "_PAGE PARTIALS/banner-menu",
        "_PAGE PARTIALS/splash",
        "_PAGE PARTIALS/nav-center",
        "_PAGE PARTIALS/about",
        "_PAGE PARTIALS/latest",
        "_PAGE PARTIALS/affiliates",
        "_PAGE PARTIALS/footer",
        "_PAGE PARTIALS/sidebar";

*{
    background:transparent;
    color: black;
    font-family: "Poppins", sans-serif;
    letter-spacing: .4px;
    font-weight: 400;
}
body {
    background:white;
    width:100%;
    margin: auto;
    overflow-x: hidden; 
}