* {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #f6f6f6;
  width: 100%;
  height: auto;
  padding: 30px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin: auto 0;
}

.logo img {
  display: inline-block;
  width: 80%;
}

.btn, .btn img {
  border: none;
  border-radius: 5px;
}

.btn {
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  height: 50px;
  position: relative;
  text-decoration: none;
}

.btn img {
  height: 40px;
  width: 40px;
  position: absolute;
  top: calc((50px - 40px) / 2);
  left: calc((60px - 40px) / 2);
}

.btn p {
  color: white;
  text-transform: uppercase;
  margin-left: 60px;
}

.btn-support, .btn-contact {
  display: none;
  color: white;
  border: none;
}

.btn-support {
  background-color: #4183d7;
}

.btn-support:hover {
  background-color: #286abd;
}

.btn-contact {
  background-color: #999aa2;
}

.btn-contact:hover {
  background-color: #7e808a;
}

.menuburger, .btn-search {
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  width: 60px;
}

.menuburger {
  background-color: #333645;
  color: white;
  padding: 0;
}

.menuburger:hover {
  background-color: #1d1f28;
}

.navbar-opts, .menuburger {
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  margin-left: 20px;
}

.navbar-opts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.searchbar, .inp-search, .btn-search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  border: none;
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.inp-search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
  padding-left: 20px;
  background-color: white;
}

.btn-search {
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  background-color: #999aa2;
  padding: 0;
}

.btn-search:hover {
  background-color: #7e808a;
}

@media (max-width: 768px) {
  .searchbar {
    border: 2px solid #cccccc;
    margin-top: 30px;
  }
  .inp-search, .btn-search {
    background-color: #e5e5e5;
  }
}

@media (min-width: 768px) {
  .header-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: calc(768px - (2 * 20px));
  }
  .navbar-opts {
    display: none;
  }
  .menuburger {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .searchbar {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
  }
  .inp-search {
    border-width: 1px;
    border-style: solid none solid solid;
    border-color: #cccccc;
  }
  .btn-search {
    border-radius: 4px;
  }
}

@media (min-width: 992px) {
  .header-wrapper {
    width: calc(992px - (2 * 20px));
  }
  .navbar-opts {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: calc(50% - (2 * 60px));
        flex-basis: calc(50% - (2 * 60px));
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .btn-phone {
    display: none;
  }
  .btn-support, .btn-contact {
    display: block;
    -ms-flex-preferred-size: calc((100% - 20px) / 2);
        flex-basis: calc((100% - 20px) / 2);
  }
  .searchbar {
    -ms-flex-preferred-size: 60px;
        flex-basis: 60px;
    margin-left: 20px;
  }
  .inp-search {
    display: none;
  }
}

@media (min-width: 1260px) {
  .header-wrapper {
    width: calc(1260px - (2 * 20px));
  }
  .searchbar {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
  }
  .inp-search {
    display: initial;
  }
}

.splash, .splash img, .splash img + div {
  width: 100%;
  height: 500px;
}

.splash {
  position: relative;
}

.splash img {
  -o-object-fit: cover;
     object-fit: cover;
}

.splash img + div {
  position: absolute;
  background-image: -webkit-gradient(linear, left top, right top, from(black), color-stop(25%, rgba(63, 63, 63, 0.5)));
  background-image: linear-gradient(to right, black, rgba(63, 63, 63, 0.5) 25%);
  top: 0;
  left: 0;
}

.splash-text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
}

.splash-text * {
  color: white;
  font-weight: 400;
}

.splash-text h2 {
  text-transform: uppercase;
  font-size: 48px;
  margin: 0;
}

.splash-text p {
  margin: 50px 0;
}

.splash-text a {
  padding: 20px 20px;
  border-radius: 5px;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  color: white;
  background-color: #67809f;
}

.splash-text a:hover {
  background-color: #526781;
}

/*Fixed size, text-align center*/
@media (min-width: 992px) {
  .splash-text {
    -webkit-transform: translate(calc(0px - (992px / 2) + 20px), -50%);
    transform: translate(calc(0px - (992px / 2) + 20px), -50%);
    text-align: left;
  }
  .splash-text, .splash-text h2, .splash-text p {
    width: calc(992px - (2 * 20px));
  }
}

@media (min-width: 1260px) {
  .splash-text {
    -webkit-transform: translate(calc(0px - (1260px / 2) + 20px), -50%);
    transform: translate(calc(0px - (1260px / 2) + 20px), -50%);
    text-align: left;
  }
  .splash-text, .splash-text h2, .splash-text p {
    width: calc(1260px - (2 * 20px));
  }
}

.nav-mid {
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-mid > .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

@media (min-width: 768px) {
  .nav-mid > .flex-container {
    width: calc(768px - (2 * 20px));
  }
}

@media (min-width: 992px) {
  .nav-mid > .flex-container {
    width: calc(992px - (2 * 20px));
  }
}

@media (min-width: 1260px) {
  .nav-mid > .flex-container {
    width: calc(1260px - (2 * 20px));
  }
}

.nav-mid .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: calc(50px - calc(30px / 2));
  padding-bottom: calc(50px - calc(30px / 2));
}

.nav-mid .flex-container > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-mid .flex-container > * {
  margin-top: calc(30px / 2);
  margin-bottom: calc(30px / 2);
}

.nav-mid .panel {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border: solid #cccccc 1px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  padding: 30px 40px;
  -webkit-box-shadow: 0 0 20px -10px;
          box-shadow: 0 0 20px -10px;
}

.nav-mid .panel h2, .nav-mid .panel p {
  color: #747474;
}

.nav-mid .panel span {
  width: 28px;
  height: 3px;
  margin: auto;
  background-color: #333645;
  display: block;
}

.nav-mid .icon {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: inline-block;
}

.nav-mid .icon img {
  max-width: 100%;
  height: auto;
}

.nav-mid .readmore {
  padding: 20px;
  border-radius: 5px;
  margin-top: 30px;
  display: block;
  width: 100px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  /*Get last 4 children (2x2)*/
  .nav-mid .panel:nth-child(1n+4) {
    -ms-flex-preferred-size: calc( (100% - (30px * (2 - 1)) ) / 2);
        flex-basis: calc( (100% - (30px * (2 - 1)) ) / 2);
  }
}

@media (min-width: 992px) {
  /*Get first 3 children (3x1)*/
  .nav-mid .panel:nth-last-child(1n+5) {
    -ms-flex-preferred-size: calc( (100% - (30px * (3 - 1)) ) / 3);
        flex-basis: calc( (100% - (30px * (3 - 1)) ) / 3);
  }
}

@media (min-width: 1260px) {
  /*Get last 4 children (4x1)*/
  .nav-mid .panel:nth-child(1n+4) {
    -ms-flex-preferred-size: calc( (100% - (30px * (4 - 1)) ) / 4);
        flex-basis: calc( (100% - (30px * (4 - 1)) ) / 4);
  }
}

.schema-nav-seagrey .readmore, .schema-nav-seagrey .icon {
  background-color: #67809f;
}

.schema-nav-seagrey:hover {
  background-color: #67809f;
}

.schema-nav-seagrey:hover .readmore {
  color: #67809f;
}

.schema-nav-seagrey:hover .readmore, .schema-nav-seagrey:hover .icon {
  background-color: white;
}

.schema-nav-seagrey:hover h2, .schema-nav-seagrey:hover p {
  color: white;
}

.schema-nav-blue .readmore, .schema-nav-blue .icon {
  background-color: #4183d7;
}

.schema-nav-blue:hover {
  background-color: #4183d7;
}

.schema-nav-blue:hover .readmore {
  color: #4183d7;
}

.schema-nav-blue:hover .readmore, .schema-nav-blue:hover .icon {
  background-color: white;
}

.schema-nav-blue:hover h2, .schema-nav-blue:hover p {
  color: white;
}

.schema-nav-green .readmore, .schema-nav-green .icon {
  background-color: #2ecc71;
}

.schema-nav-green:hover {
  background-color: #2ecc71;
}

.schema-nav-green:hover .readmore {
  color: #2ecc71;
}

.schema-nav-green:hover .readmore, .schema-nav-green:hover .icon {
  background-color: white;
}

.schema-nav-green:hover h2, .schema-nav-green:hover p {
  color: white;
}

.schema-nav-red .readmore, .schema-nav-red .icon {
  background-color: #d64541;
}

.schema-nav-red:hover {
  background-color: #d64541;
}

.schema-nav-red:hover .readmore {
  color: #d64541;
}

.schema-nav-red:hover .readmore, .schema-nav-red:hover .icon {
  background-color: white;
}

.schema-nav-red:hover h2, .schema-nav-red:hover p {
  color: white;
}

.schema-nav-purple .readmore, .schema-nav-purple .icon {
  background-color: #926fb1;
}

.schema-nav-purple:hover {
  background-color: #926fb1;
}

.schema-nav-purple:hover .readmore {
  color: #926fb1;
}

.schema-nav-purple:hover .readmore, .schema-nav-purple:hover .icon {
  background-color: white;
}

.schema-nav-purple:hover h2, .schema-nav-purple:hover p {
  color: white;
}

.schema-nav-pink .readmore, .schema-nav-pink .icon {
  background-color: #f62459;
}

.schema-nav-pink:hover {
  background-color: #f62459;
}

.schema-nav-pink:hover .readmore {
  color: #f62459;
}

.schema-nav-pink:hover .readmore, .schema-nav-pink:hover .icon {
  background-color: white;
}

.schema-nav-pink:hover h2, .schema-nav-pink:hover p {
  color: white;
}

.about {
  background-color: #333645;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: auto;
  padding: 30px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about .about {
  background-image: url("https://www.lamodeenimages.com/sites/default/files-lmi/styles/1365x768/public/images/article/homepage/full/louis-vuitton-volez-voguez-voyagez-shanghai-exhibition-center-la-mode-en-images-cover.jpg?itok=5ygYxpnS");
}

.about-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.8;
  margin: auto;
  width: 100%;
  text-align: left;
}

.about-text * {
  color: white;
}

.about-text h2 {
  margin-top: 15px;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 40px;
}

.about-text p {
  font-size: 17px;
  font-weight: 300;
}

.about-text p:first-of-type {
  font-weight: 600;
}

.about-text a {
  padding: 10px 20px;
  border-radius: 5px;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  color: #333645;
  background-color: white;
  margin-bottom: 15px;
}

.about-text a:hover {
  background-color: #e6e6e6;
}

@media (min-width: 768px) {
  .about-text {
    width: calc(768px - (2 * 20px));
  }
}

@media (min-width: 992px) {
  .about-text {
    width: calc(992px - (2 * 20px));
  }
}

@media (min-width: 1260px) {
  .about-text {
    width: calc(1260px - (2 * 20px));
  }
}

@media (min-width: 1260px) {
  .about-text {
    padding-right: calc( (1260px - (2 * 20px)) / 2);
  }
}

.latest-heading {
  margin: auto;
}

@media (min-width: 768px) {
  .latest-heading {
    width: calc(768px - (2 * 20px));
  }
}

@media (min-width: 992px) {
  .latest-heading {
    width: calc(992px - (2 * 20px));
  }
}

@media (min-width: 1260px) {
  .latest-heading {
    width: calc(1260px - (2 * 20px));
  }
}

.latest-heading span {
  width: 72px;
  height: 5px;
  margin-right: auto;
  background-color: #333645;
  display: block;
}

.latest-heading h2 {
  margin: 40px 0;
  font-weight: 600;
  font-size: 20px;
  color: #333645;
  text-transform: uppercase;
}

.latest {
  background-image: linear-gradient(#cccccc 0, white 50px);
  background-size: cover;
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.latest > .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

@media (min-width: 768px) {
  .latest > .flex-container {
    width: calc(768px - (2 * 20px));
  }
}

@media (min-width: 992px) {
  .latest > .flex-container {
    width: calc(992px - (2 * 20px));
  }
}

@media (min-width: 1260px) {
  .latest > .flex-container {
    width: calc(1260px - (2 * 20px));
  }
}

.latest .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: calc(50px - calc(30px / 2));
  padding-bottom: calc(50px - calc(30px / 2));
}

.latest .flex-container > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.latest .flex-container > * {
  margin-top: calc(30px / 2);
  margin-bottom: calc(30px / 2);
}

.newspanel {
  background-color: white;
  border: solid #cccccc 1px;
  border-radius: 4px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.newspanel img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.newspanel .text-container {
  text-overflow: ellipsis;
  padding: 0 30px 30px;
}

.newspanel .text-container h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.newspanel .text-container p {
  color: #747474;
}

.newspanel .text-container a {
  padding: 20px;
  border-radius: 5px;
  margin-top: 30px;
  display: block;
  width: 100px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: white;
}

.divider {
  width: 100%;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #cccccc;
}

.divider p:first-child {
  color: black;
  font-weight: bold;
}

.divider td:first-child {
  width: 60px;
  height: auto;
}

.divider p {
  padding-left: 20px;
}

@media (min-width: 768px) {
  .latest {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .latest .flex-container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#f6f6f6));
    background-image: linear-gradient(transparent, #f6f6f6);
    padding-top: 0;
    padding-bottom: 0;
  }
  .latest .flex-container > * {
    margin-top: 0;
    margin-bottom: 0;
  }
  .newspanel:nth-last-child(1) {
    display: none;
  }
  .newspanel {
    -ms-flex-preferred-size: calc( (100% - (30px * (2 - 1)) ) / 2);
        flex-basis: calc( (100% - (30px * (2 - 1)) ) / 2);
  }
}

@media (min-width: 1260px) {
  .newspanel:nth-last-child(1) {
    display: block;
  }
  .newspanel {
    -ms-flex-preferred-size: calc( (100% - (30px * (3 - 1)) ) / 3);
        flex-basis: calc( (100% - (30px * (3 - 1)) ) / 3);
  }
}

.schema-news-seagrey h3 {
  color: #67809f;
}

.schema-news-seagrey a {
  background-color: #67809f;
}

.schema-news-seagrey a:hover {
  background-color: #526781;
}

.schema-news-blue h3 {
  color: #4183d7;
}

.schema-news-blue a {
  background-color: #4183d7;
}

.schema-news-blue a:hover {
  background-color: #286abd;
}

.schema-news-purple h3 {
  color: #926fb1;
}

.schema-news-purple a {
  background-color: #926fb1;
}

.schema-news-purple a:hover {
  background-color: #79539a;
}

.affiliates {
  background-color: #f6f6f6;
  height: auto;
  padding: 50px 0;
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.affiliates > .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

@media (min-width: 768px) {
  .affiliates > .flex-container {
    width: calc(768px - (2 * 20px));
  }
}

@media (min-width: 992px) {
  .affiliates > .flex-container {
    width: calc(992px - (2 * 20px));
  }
}

@media (min-width: 1260px) {
  .affiliates > .flex-container {
    width: calc(1260px - (2 * 20px));
  }
}

.affiliates .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.affiliates .flex-container > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  .affiliates {
    display: none;
  }
}

.af {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  position: relative;
}

.af * {
  color: white;
}

.af img {
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}

.af img:nth-of-type(1) {
  display: inline-block;
}

.af img:nth-of-type(2) {
  display: none;
}

.af > div {
  display: none;
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 200px;
  height: auto;
  text-align: center;
  background-color: #333645;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.af > div > div {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  background-color: #333645;
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: -14px;
  left: 86px;
}

.af span {
  width: 28px;
  height: 3px;
  margin: auto;
  background-color: white;
  display: block;
}

.af:hover > img:nth-of-type(1) {
  display: none;
}

.af:hover > img:nth-of-type(2) {
  display: inline-block;
}

.af:hover > div {
  display: block;
}

footer {
  background-color: #333645;
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer * {
  color: white;
}

footer > .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

@media (min-width: 768px) {
  footer > .flex-container {
    width: calc(768px - (2 * 20px));
  }
}

@media (min-width: 992px) {
  footer > .flex-container {
    width: calc(992px - (2 * 20px));
  }
}

@media (min-width: 1260px) {
  footer > .flex-container {
    width: calc(1260px - (2 * 20px));
  }
}

footer .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 70px;
  padding-bottom: 70px;
}

footer .flex-container > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer .flex-container section {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 768px) {
  footer .flex-container section {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (min-width: 1260px) {
  footer .flex-container section {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

footer .flex-container ul {
  padding: 0;
}

footer .flex-container li {
  list-style: none;
}

.socMed-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.socMed-links > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.socMed-links > * {
  -ms-flex-preferred-size: calc( (100% - (30px * (2 - 1)) ) / 2);
      flex-basis: calc( (100% - (30px * (2 - 1)) ) / 2);
}

.socMed-links a {
  background-color: #1d1f28;
  text-align: center;
  padding: 15px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 0;
}

.socMed-links a img {
  display: inline-block;
}

.socMed-links a:hover {
  background-color: #4183d7;
}

* {
  background: transparent;
  color: black;
}

body {
  background: white;
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}
/*# sourceMappingURL=styles.css.map */