* {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

header {
  background-color: #f6f6f6;
  width: 100%;
  height: auto;
  padding: 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

.logo {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /*    @media (max-width:calc(($btn-icon-width * 2) + ($x-pad_page * 2)) ) {
            //Do something
            //Prevents phone and menu buttons being pushed down.
        }   */
}

.btn {
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
}

.navbar-opts, .menuburger {
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  margin-left: 20px;
}

.navbar-opts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-support, .btn-contact {
  display: none;
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.inp-search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (min-width: 768px) {
  .header-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: calc(768px - (2 * 20px));
  }
  .navbar-opts {
    display: none;
  }
  .menuburger {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .searchbar {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
  }
}

@media (min-width: 992px) {
  .header-wrapper {
    width: calc(992px - (2 * 20px));
  }
  .navbar-opts {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: calc(50% - (2 * 60px));
        flex-basis: calc(50% - (2 * 60px));
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .btn-phone {
    display: none;
  }
  .btn-support, .btn-contact {
    display: block;
    -ms-flex-preferred-size: calc((100% - 20px) / 2);
        flex-basis: calc((100% - 20px) / 2);
    border: 2px solid orange;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .btn-support img, .btn-contact img {
    width: 60px;
  }
  .searchbar, .menuburger {
    -ms-flex-preferred-size: 60px;
        flex-basis: 60px;
  }
  .searchbar {
    margin-left: 20px;
  }
  .inp-search {
    display: none;
  }
}

@media (min-width: 1260px) {
  .header-wrapper {
    width: calc(1260px - (2 * 20px));
  }
  .searchbar {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
  }
  .inp-search {
    display: initial;
  }
}

.splash {
  width: 100%;
  position: relative;
}

.splash img {
  width: 100%;
}

.splash-text {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 40px;
}

.splash-text * {
  color: cyan;
}

/*Fixed size, text-align center*/
@media (min-width: 992px) {
  .splash-text {
    -webkit-transform: translate(-40%, -50%);
    transform: translate(-40%, -50%);
    text-align: left;
  }
}

.nav-mid {
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-mid > .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

@media (min-width: 768px) {
  .nav-mid > .flex-container {
    width: calc(768px - (2 * 20px));
  }
}

@media (min-width: 992px) {
  .nav-mid > .flex-container {
    width: calc(992px - (2 * 20px));
  }
}

@media (min-width: 1260px) {
  .nav-mid > .flex-container {
    width: calc(1260px - (2 * 20px));
  }
}

.nav-mid .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: calc(50px - calc(30px / 2));
  padding-bottom: calc(50px - calc(30px / 2));
}

.nav-mid .flex-container > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-mid .flex-container > * {
  margin-top: calc(30px / 2);
  margin-bottom: calc(30px / 2);
}

.nav-mid .panel {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  color: white;
  border: 2px solid orange;
}

@media (min-width: 768px) {
  /*Get last 4 children (2x2)*/
  .nav-mid .panel:nth-child(1n+4) {
    -ms-flex-preferred-size: calc( (100% - (30px * (2 - 1)) ) / 2);
        flex-basis: calc( (100% - (30px * (2 - 1)) ) / 2);
  }
}

@media (min-width: 992px) {
  /*Get first 3 children (3x1)*/
  .nav-mid .panel:nth-last-child(1n+5) {
    -ms-flex-preferred-size: calc( (100% - (30px * (3 - 1)) ) / 3);
        flex-basis: calc( (100% - (30px * (3 - 1)) ) / 3);
  }
}

@media (min-width: 1260px) {
  /*Get last 4 children (4x1)*/
  .nav-mid .panel:nth-child(1n+4) {
    -ms-flex-preferred-size: calc( (100% - (30px * (4 - 1)) ) / 4);
        flex-basis: calc( (100% - (30px * (4 - 1)) ) / 4);
  }
}

.about {
  background-color: #333645;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.about-text {
  margin: 0px;
  padding: 5% 10%;
  width: 50%;
  text-align: left;
  font-size: 20px;
}

.about-text * {
  color: cyan;
}

@media (min-width: 1260px) {
  .about {
    background-image: url("https://www.lamodeenimages.com/sites/default/files-lmi/styles/1365x768/public/images/article/homepage/full/louis-vuitton-volez-voguez-voyagez-shanghai-exhibition-center-la-mode-en-images-cover.jpg?itok=5ygYxpnS");
  }
  .about-text p {
    padding-right: 50%;
  }
}

.latest {
  background-image: linear-gradient(#cccccc 0, white 50px);
  background-size: cover;
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.latest > .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

@media (min-width: 768px) {
  .latest > .flex-container {
    width: calc(768px - (2 * 20px));
  }
}

@media (min-width: 992px) {
  .latest > .flex-container {
    width: calc(992px - (2 * 20px));
  }
}

@media (min-width: 1260px) {
  .latest > .flex-container {
    width: calc(1260px - (2 * 20px));
  }
}

.latest .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: calc(50px - calc(30px / 2));
  padding-bottom: calc(50px - calc(30px / 2));
}

.latest .flex-container > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.latest .flex-container > * {
  margin-top: calc(30px / 2);
  margin-bottom: calc(30px / 2);
}

.newspanel {
  background-color: white;
  border: solid #cccccc 1px;
  border-radius: 4px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.newspanel img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.newspanel .text-container {
  text-overflow: ellipsis;
  padding: 0 30px 30px;
}

.newspanel .text-container h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.newspanel .text-container p {
  color: #747474;
}

.newspanel .text-container a {
  padding: 20px;
  border-radius: 5px;
  margin-top: 30px;
  display: block;
  width: 100px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: white;
}

@media (min-width: 768px) {
  .latest {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .latest .flex-container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#f6f6f6));
    background-image: linear-gradient(transparent, #f6f6f6);
    padding-top: 0;
    padding-bottom: 0;
  }
  .latest .flex-container > * {
    margin-top: 0;
    margin-bottom: 0;
  }
  .newspanel:nth-last-child(1) {
    display: none;
  }
  .newspanel {
    -ms-flex-preferred-size: calc( (100% - (30px * (2 - 1)) ) / 2);
        flex-basis: calc( (100% - (30px * (2 - 1)) ) / 2);
  }
}

@media (min-width: 1260px) {
  .newspanel:nth-last-child(1) {
    display: block;
  }
  .newspanel {
    -ms-flex-preferred-size: calc( (100% - (30px * (3 - 1)) ) / 3);
        flex-basis: calc( (100% - (30px * (3 - 1)) ) / 3);
  }
}

.schema-seagrey h3 {
  color: #67809f;
}

.schema-seagrey a {
  background-color: #67809f;
}

.schema-seagrey a:hover {
  background-color: #526781;
}

.schema-blue h3 {
  color: #4183d7;
}

.schema-blue a {
  background-color: #4183d7;
}

.schema-blue a:hover {
  background-color: #286abd;
}

.schema-purple h3 {
  color: #926fb1;
}

.schema-purple a {
  background-color: #926fb1;
}

.schema-purple a:hover {
  background-color: #79539a;
}

.affiliates {
  background-color: #f6f6f6;
  display: none;
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.affiliates > .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

@media (min-width: 768px) {
  .affiliates > .flex-container {
    width: calc(768px - (2 * 20px));
  }
}

@media (min-width: 992px) {
  .affiliates > .flex-container {
    width: calc(992px - (2 * 20px));
  }
}

@media (min-width: 1260px) {
  .affiliates > .flex-container {
    width: calc(1260px - (2 * 20px));
  }
}

.affiliates .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.affiliates .flex-container > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .affiliates {
    display: block;
  }
  .af {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    height: 45px;
  }
}

footer {
  background-color: #333645;
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer * {
  color: white;
}

footer > .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

@media (min-width: 768px) {
  footer > .flex-container {
    width: calc(768px - (2 * 20px));
  }
}

@media (min-width: 992px) {
  footer > .flex-container {
    width: calc(992px - (2 * 20px));
  }
}

@media (min-width: 1260px) {
  footer > .flex-container {
    width: calc(1260px - (2 * 20px));
  }
}

footer .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 70px;
  padding-bottom: 70px;
}

footer .flex-container > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer .flex-container section {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 768px) {
  footer .flex-container section {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (min-width: 1260px) {
  footer .flex-container section {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

footer .flex-container ul {
  padding: 0;
}

footer .flex-container li {
  list-style: none;
}

.socMed-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.socMed-links > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.socMed-links > * {
  -ms-flex-preferred-size: calc( (100% - (30px * (2 - 1)) ) / 2);
      flex-basis: calc( (100% - (30px * (2 - 1)) ) / 2);
}

.socMed-links a {
  background-color: transparent;
}

* {
  background: transparent;
  color: black;
}

body {
  background: white;
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}
/*# sourceMappingURL=styles.css.map */