@import "_PAGE PARTIALS/header",
        "_PAGE PARTIALS/splash",
        "_PAGE PARTIALS/nav-center",
        "_PAGE PARTIALS/about",
        "_PAGE PARTIALS/latest",
        "_PAGE PARTIALS/footer";

*{
    background:transparent;
    color: white;
}
body {
    background:black;
    width:100%;
    margin: auto;
    overflow-x: hidden; 
}