@import "../_PARTIALS/breakpoints",
        "../_PARTIALS/colours",
        "../_PARTIALS/universals",
        "../_PARTIALS/mix_static-width-breakpoints";


.about {
    background-color: $bg-dark;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: auto;
    padding: $y-pad_panel $x-pad_page;
    .about {
        background-image:url("https://www.lamodeenimages.com/sites/default/files-lmi/styles/1365x768/public/images/article/homepage/full/louis-vuitton-volez-voguez-voyagez-shanghai-exhibition-center-la-mode-en-images-cover.jpg?itok=5ygYxpnS"); 
    }
}

.about-text {
    line-height: 1.8;
    margin: auto;
    width:100%;
    text-align:left;
    * {
        color: white;
    }
    h2 {
        margin-top: 20px;
        margin-bottom: 28px;
        font-size: 36px;
        line-height: 36px;
        text-transform: uppercase;
    }
    p {
        font-size: 16px;
        margin-bottom: 25px;
    }
    p:first-of-type {
        font-weight: 600;
    }

    @include static-width-breakpoints ($x-pad_page);
    @media (min-width: $bp-lg) {
        padding-right: calc( (#{$bp-lg} - (2 * #{$x-pad_page})) / 2 );
    }
}


