@import "../_PARTIALS/breakpoints",
        "../_PARTIALS/colours",
        "../_PARTIALS/universals",
        "../_PARTIALS/mix_flex-basis-static-gutters",
        "../_PARTIALS/mix_flex-ctnr-static-widths",
        "../_PARTIALS/mix_flex-common-settings";

footer {
    background-color: $bg-dark;
    * { 
        color: white; 
    }
    @include flex-ctnr-static-widths($x-pad_page, $bp-sm $bp-md $bp-lg);
    .flex-container {
        @include flex-common-wrap;
        padding-top: 70px;
        padding-bottom: 70px;
        section {
            flex-basis:100%;
            @media (min-width:$bp-sm) {
                flex-basis: 50%;
            }
            @media (min-width:$bp-lg) {
                flex-basis: 25%;
            }
        }
        ul {
            padding: 0;
        }
        li {
            list-style: none;
        }
    }
}

.socMed-links {
    @include flex-common-wrap;
    @include flex-children-static-gutters (2, $x-gutter_section);
    a {
        background-color: darken($color: $bg-dark, $amount: 10);
        text-align: center;
        padding: 15px 0;
        box-sizing: border-box;
        img {
            display: inline-block;
        }
        margin: 10px 0;
    }
    a:hover {
        background-color: $col-blue;
    }
}