@import "../_PARTIALS/breakpoints",
        "../_PARTIALS/colours",
        "../_PARTIALS/universals",
        "../_PARTIALS/mix_flex-basis-static-gutters",
        "../_PARTIALS/mix_flex-ctnr-static-widths",
        "../_PARTIALS/mix_flex-common-settings";

#links {
    @include flex-ctnr-static-widths($x-pad_page, $bp-sm $bp-md $bp-lg);
    .flex-container {
        @include flex-common-wrap;
        padding-top: 70px;
        padding-bottom: 70px;
        .link-group {
            flex-basis:100%;
            @media (min-width:$bp-sm) {
                flex-basis: 50%;
            }
            @media (min-width:$bp-lg) {
                flex-basis: 25%;
            }
        }
        ul {
            padding: 0;
        }
        li {
            list-style: none;
        }
    }
    background-color: $bg-dark;
    * { 
        color: white;
    }
    a, li {
        text-decoration: none;
        font-size: 13px;
    }
    h2 {
        font-size: 16px;
        text-transform: uppercase;
    }
}

.socMed-links {
    @include flex-children-static-gutters (2, 30px);
    a {
        margin-top: 30px;
        background-color: darken($color: $bg-dark, $amount: 10);
        text-align: center;
        padding: 10px 0 8px;
        box-sizing: border-box;
        img {
            display: inline-block;
            width: 30px;
            height: 30px;
        }
    }
    a:hover {
        background-color: $col-blue;
    }
}