@import "../_PARTIALS/breakpoints",
        "../_PARTIALS/mix_flex-basis-fixed-gutters";

.flex-ctnr_footer  {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding:70px 20px;
    section {
        flex-basis:100%;
    }
    ul {
        padding: 0;
    }
    li {
        list-style: none;
    }
}

.socMed-links {
    display:flex;
    flex-wrap:wrap;
    a {
        @include flex-basis-fixed-gutters (2, 40px);
    }
}


@media (min-width:$bp-sm) {
    .flex-ctnr_footer {
        width:$bp-sm;
        margin: auto;
        section {
            flex-basis: 50%;
        }
    }
}

@media (min-width:$bp-md) {
    .flex-ctnr_footer {
        width:$bp-md;
    }
}

@media (min-width:$bp-lg) {
    .flex-ctnr_footer {
        width:$bp-lg;
        section {
            flex-basis: 25%;
        }
    }
}