@import "../_PARTIALS/breakpoints";

    //General
    header {
        width:80%;
        margin: auto;
    }

    //Base
    .header-wrapper {
        display:flex;
        flex-wrap:wrap;
    }
    .logo {
        flex-basis:50%;
        flex-grow: 1;
    }
    .navbar-opts, .menuburger {
        flex-basis:60px;
    }
    .navbar-opts {
        display:flex;
    }
        .btn-support, .btn-contact {
            display:none;
        }
    .searchbar {
        display:flex;
        flex-basis:100%;
    }
        .inp-search {
            flex-grow:1;
        }

    .btn {
        flex-basis: 60px;
    }

    @media (min-width:$bp-sm){
        .header-wrapper {
            flex-wrap:nowrap;
        }
        .navbar-opts {
            display:none;
        }
        .menuburger {
            order: 1;
        }
        .searchbar {
            flex-basis: 200px;
        }
    }

    @media (min-width:$bp-md) {
        .navbar-opts {
            display:flex;
            flex-basis:120px;
        }
            .btn-phone {
                display:none;
            }
            .btn-support, .btn-contact {
                display:block;
            }
        .searchbar {
            flex-basis: 60px;
        }
            .inp-search {
                display:none;
            }
    }

    @media (min-width:$bp-lg) {
        .searchbar {
            flex-basis: 200px;
        }
            .inp-search {
                display:block;
            }
    }