@import "../_PARTIALS/breakpoints",
        "../_PARTIALS/colours",
        "../_PARTIALS/universals",
        "../_PARTIALS/mix_create-colour-schemas",
        "../_PARTIALS/mix_flex-basis-static-gutters",
        "../_PARTIALS/mix_flex-common-settings",
        "../_PARTIALS/mix_flex-ctnr-static-widths";

.latest {
    background-image: linear-gradient($grey-md 0, white $y-pad_section);
    background-size: cover;
    @include flex-ctnr-static-widths($x-pad_page, $bp-sm $bp-md $bp-lg);
    .flex-container {
        @include flex-common-wrap;
        @include flex-vertical-padding ($y-pad_section, $y-pad_section, $y-gutter_section);
    }
}
.newspanel {
    background-color: white;
    border: solid $grey-md 1px;
    border-radius: 4px;
    flex-basis:100%;
    img {
        width: 100%;
        height: auto;
        object-fit: contain;
        transform-origin: center;
    }
    .text-container {
        text-overflow: ellipsis;
        padding: 0 30px 30px;
        h3 {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        p {
            color: $grey-dk;
        }
        a {
            padding: 20px;
            border-radius: 5px;
            margin-top: 30px;
            display: block;
            width: 100px;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            color:white;
            :hover {

            }
        }
    }
}



@media (min-width:$bp-sm) {
//This fix is a bit of a hack, because I didn't forsee
// the difficulties I would have replicating the bg
// gradients of the original. 
    .latest {
        padding-top: $y-pad_section;
        padding-bottom: $y-pad_section;
        .flex-container {
            background-image: linear-gradient(transparent, $bg-lite);
            padding-top: 0;
            padding-bottom: 0;
            >* {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
//Ideally I will be able to replace ^^^ this ^^^ with a
// more universally applicable piece of code at a later
// date.
    }    
    .newspanel:nth-last-child(1) {
        display:none;
    }

    .newspanel {
        @include flex-basis-static-gutters (2, $x-gutter_section);
    }
}

@media (min-width:$bp-lg) {
    .newspanel:nth-last-child(1) {
        display:block;
    }
    .newspanel {
        @include flex-basis-static-gutters (3, $x-gutter_section);
    }
    .newspanel img:hover {
        //Do something
        //transform: scale(120%);
    }
}




//NOPE!
//@include create-schemas ($col-seagrey, $col-blue, $col-purple);
//NOPE!

.schema-seagrey { @include colour-schema-news ($col-seagrey); }
.schema-blue    { @include colour-schema-news ($col-blue); }
.schema-purple  { @include colour-schema-news ($col-purple); }