@import "../_PARTIALS/breakpoints",
        "../_PARTIALS/colours",
        "../_PARTIALS/universals",
        "../_PARTIALS/mix_create-colour-schemas",
        "../_PARTIALS/mix_flex-basis-static-gutters",
        "../_PARTIALS/mix_flex-common-settings",
        "../_PARTIALS/mix_flex-ctnr-static-widths",
        "../_PARTIALS/mix_static-width-breakpoints";

.latest-heading {
    margin: auto;
    @include static-width-breakpoints ($x-pad_page);    
    // ^^^ A pretty late addition to the project.
    span {
        width:72px;
        height: 5px;
        margin-right: auto;
        background-color: #333645;
        display: block;
    }
    h2 {
        margin: 40px 0;
        font-weight: 600;
        font-size: 20px;
        color: #333645;
        text-transform: uppercase;
    }    
}

.latest {
    background-image: linear-gradient($grey-md 0, white $y-pad_section);
    background-size: cover;
    @include flex-ctnr-static-widths($x-pad_page, $bp-sm $bp-md $bp-lg);
    .flex-container {
        @include flex-common-wrap;
        @include flex-vertical-padding ($y-pad_section, $y-pad_section, $y-gutter_section);
    }
}
.newspanel {
    background-color: white;
    border: solid $grey-md 1px;
    border-radius: 4px;
    flex-basis:100%;
    img {
        width: 100%;
        height: auto;
        object-fit: contain;
        transform-origin: center;
    }
    .text-container {
        text-overflow: ellipsis;
        padding: 0 30px $y-pad_panel;
        h3 {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        p {
            color: $grey-dk;
        }
        a {
            padding: 20px;
            border-radius: 5px;
            margin-top: 30px;
            display: block;
            width: 100px;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            color:white;
        }
    }
}
.divider {
    width: 100%;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid $grey-md;
    p:first-child {
        color: black;
        font-weight: bold;
    }
    td:first-child {
        width: 60px;
        height: auto;
    }
    p {
        padding-left: 20px;
    }
}



@media (min-width:$bp-sm) {
//This fix is a bit of a hack, because I didn't forsee
// the difficulties I would have replicating the bg
// gradients of the original. 

//It only works in this context because the children of
// the .flex-container don't wrap, otherwise the thing
// would be ruined.
    .latest {
        padding-top: $y-pad_section;
        padding-bottom: $y-pad_section;
        .flex-container {
            background-image: linear-gradient(transparent, $bg-lite);
            padding-top: 0;
            padding-bottom: 0;
            >* {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
//Ideally I will be able to replace ^^^ this ^^^ with a
// more universally applicable piece of code at a later
// date.
    }    
    .newspanel:nth-last-child(1) {
        display:none;
    }

    .newspanel {
        @include flex-basis-static-gutters (2, $x-gutter_section);
    }
}

@media (min-width:$bp-lg) {
    .newspanel:nth-last-child(1) {
        display:block;
    }
    .newspanel {
        @include flex-basis-static-gutters (3, $x-gutter_section);
    }
    //.newspanel img:hover {
        //Do something
        //transform: scale(120%);
    //}
}




//NOPE!
//@include create-schemas ($col-seagrey, $col-blue, $col-purple);
//NOPE!

.schema-news-seagrey { @include colour-schema-news ($col-seagrey); }
.schema-news-blue    { @include colour-schema-news ($col-blue); }
.schema-news-purple  { @include colour-schema-news ($col-purple); }