@import "../_PARTIALS/breakpoints",
        "../_PARTIALS/universals",
        "../_PARTIALS/mix_flex-basis-static-gutters",
        "../_PARTIALS/mix_flex-common-settings",
        "../_PARTIALS/mix_flex-ctnr-static-widths";

.latest {
    @include flex-ctnr-static-widths($x-pad_page, $bp-sm $bp-md $bp-lg);
    .flex-container {
        @include flex-common-wrap;
        @include flex-vertical-padding ($y-pad_section, $y-pad_section, $y-gutter_section);
    }
}
.newspanel {
    flex-basis:100%;
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        transform-origin: center;
        :hover {
            transform: scale(120%);
        }
    }
}

@media (min-width:$bp-sm) {
    .latest .newspanel:nth-last-child(1) {
        display:none;
    }
    .latest .newspanel {
        @include flex-basis-static-gutters (2, $x-gutter_section);
    }
}

@media (min-width:$bp-lg) {
    .latest .newspanel:nth-last-child(1) {
        display:block;
    }
    .latest .newspanel {
        @include flex-basis-static-gutters (3, $x-gutter_section);
    }
}