@import "../_PARTIALS/breakpoints",
        "../_PARTIALS/borders-placeholders",
        "../_PARTIALS/colours",
        "../_PARTIALS/universals",
        "../_PARTIALS/mix_flex-basis-static-gutters",
        "../_PARTIALS/mix_flex-common-settings",
        "../_PARTIALS/mix_flex-ctnr-static-widths";

@supports not (-ms-high-contrast: none) {
    /* Non-IE styles here */
    .nav-mid {
        @include flex-ctnr-static-widths ($x-pad_page, $bp-sm $bp-md $bp-lg);
        .flex-container {
            @include flex-common-wrap;
            @include flex-vertical-padding ($y-pad_section, $y-pad_section, $y-gutter_section);
        }
        .panel {
            flex-basis:100%;
            padding: $y-pad_panel 40px;
        }
    }
    @media (min-width:$bp-sm){
        /*Get last 4 children (2x2)*/
        .nav-mid .panel:nth-child(1n+4){
            @include flex-basis-static-gutters(2, $x-gutter_section);
        }
    }
    @media (min-width:$bp-md){
        /*Get first 3 children (3x1)*/
        .nav-mid .panel:nth-last-child(1n+5){
            @include flex-basis-static-gutters(3, $x-gutter_section);
        }
    }
    @media (min-width:$bp-lg){
        /*Get last 4 children (4x1)*/
        .nav-mid .panel:nth-child(1n+4){
            @include flex-basis-static-gutters(4, $x-gutter_section);
        }
    }
}

.nav-mid {
    .panel {
        border: solid $grey-md 1px;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        box-shadow: 0 0 20px -10px;
        h2, p {
            color: $bg-dark;
        }
        h2 {
            font-size: 18px;
        }
        p {
            font-size: 13px;
        }
        span {
            width: 28px;
            height: 3px;
            margin: auto;
            background-color: #333645;
            display: block;
        }
    }
    .icon {
        $circle: 60px;
        padding: 18px;
        border-radius: 50%;
        height: $circle;
        width: $circle;
        display:inline-block;
        img {
            max-width:100%;
            height: auto;
        }
        img:nth-child(1){ display:inline-block; }
        img:nth-child(2){ display:none; }
    }
    .readmore {
        padding: 5px 15px;
        border-radius: 5px;
        margin-top: 30px;
        display: block;
        width: 129.74px;
        text-transform: uppercase;
        font-size: 17px;
        line-height: 35px;
        text-align: center;
        color:white;
        margin-left: auto;
        margin-right: auto;
    }
    .panel:hover {
        .readmore, .icon {
            background-color: white;
        }
        h2, p {
            color:white;
        }
        span {
            background-color: white;
        }
        .icon {
            img:nth-child(1){ display:none; }
            img:nth-child(2){ display:inline-block; }
        }
    }
}

//Categories
@mixin colour-schema-nav ($colour) {
    .readmore, .icon {
        background-color: $colour;
    }
    &:hover {
        background-color:$colour;
        .readmore {
            color:$colour;
        }
    }
}
@each $schema-name, $colour in $colours {
    .schema-nav-#{$schema-name} {
        @include colour-schema-nav (#{$colour});
    }
}

