@import "../_PARTIALS/breakpoints",
        "../_PARTIALS/borders-placeholders",
        "../_PARTIALS/mix_flex-basis-fixed-gutters";

$gutterWidth:20px;

.nav-mid {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:80%;
    margin:auto;
    justify-content: space-between;
}
.nav-mid .panel {
    flex-basis:100%;
    color:white;
    border: $ph-border2;
}

@media (min-width:$bp-sm){
    /*Get last 4 children (2x2)*/
    .nav-mid .panel:nth-child(1n+4){
        @include flex-basis-fixed-gutters(2, $gutterWidth);
    }
}
@media (min-width:$bp-md){
    /*Get first 3 children (3x1)*/
    .nav-mid .panel:nth-last-child(1n+5){
        @include flex-basis-fixed-gutters(3, $gutterWidth);
    }
}
@media (min-width:$bp-lg){
    /*Get last 4 children (4x1)*/
    .nav-mid .panel:nth-child(1n+4){
        @include flex-basis-fixed-gutters(4, $gutterWidth);
    }
}
