@import "../_PARTIALS/breakpoints",
        "../_PARTIALS/colours",
        "../_PARTIALS/universals",
        "../_PARTIALS/mix_flex-basis-static-gutters",
        "../_PARTIALS/mix_flex-common-settings",
        "../_PARTIALS/mix_flex-ctnr-static-widths",
        "../_PARTIALS/mix_static-width-breakpoints";

@mixin center-abs() {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
$tag-top: 10px;
$tag-height: 22px;

.news-tag {
    top: $tag-top;
    right: 0;
    padding: 0 10px;
    position: absolute;
    z-index: 100;
    &:hover {
        a {
            text-decoration: underline;
        }
        >.description-ctnr {
            display: block;
        }
    }
    height: $tag-height;
    width: auto;
    a {
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        height: $tag-height;
        line-height: $tag-height;
        bottom: 4px;
        &:before { 
            text-transform: uppercase;
            height: $tag-height;
            line-height: $tag-height;
        }
    }
}
.description-ctnr {
    @include center-abs();
    display: none;
    bottom: $tag-height + $tag-top;
    >div:first-child {
        @include center-abs();
        bottom: 0;
        width: 200px;
        height: auto;
        text-align: center;
        background-color: $bg-dark;
        padding: 10px 15px;
        color: white;
        font-size: 12px;
    }
    >div:last-child {
        @include center-abs();
        transform: rotateZ(45deg) translateX(-50%);
        background-color:  $bg-dark;
        width: 10px;
        height: 10px;
        bottom: -8px;
        z-index: -1;
    }
}


//CATEGORIES
$categories: ("webdesign", "itsupport", "telecomsservices", "bespokesoftware", "digitalmarketing", "cybersecurity");
$cat-text: ("Web Design", "IT Support", "Telecoms Services", "Bespoke Software", "Digital Marketing", "Cyber Security");
$strArr-clrs: ('purple', 'blue', 'red', 'seagrey', 'green', 'pink');
$i:0;
@each $cat in $categories {                                 //<== Could use a for loop, but this way you can add to the categories list without changing value of $i manually.
    $i: $i+1;
    $colour: map-get($colours, #{nth($strArr-clrs, $i)});
    .newspanel-cat-#{$cat} {                                    //<== You could also use str-index() to get the space in e.g. "Web Design", str-slice() to get "Web" and "Design", str-insert() and str-to-lowercase() to concatinate to webdesign, and then you'd have your class name.
        .news-tag {                                             // ...or you could not do that :)
            background-color: $colour;
            >.description-ctnr >div:first-child >span:first-child:before {
                color: white;
                content: "View all: #{nth($cat-text, $i)} /";
            }
        }
        .text-container {
            a:first-of-type {
                color: $colour;
            }
            a:last-of-type {
                background-color:$colour;
                &:hover {
                    background-color:darken($colour, 10);
                }
            }
        }
    }
}

$types: ("news", "careers", "portfolios");
@each $type in $types {
    .newspanel-type-#{$type} {
        .news-tag {
            a:before { 
                content:$type;
            }
            >.description-ctnr >div:first-child >span:last-child:before {
                color: white;
                text-transform: capitalize;
                content: " #{$type}";
            }
        }
    }
}
















//Tags


