@import "../_PARTIALS/colours";

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 275px;
    height: 100%;
    overflow: auto;
    background-color: $bg-dark;
    z-index: -1;
}

#btn-menu {
    
}