* {
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background: green;
  padding: 0px;
}

.header-bar,
.navbar-top,
.banner,
.nav-main,
.about,
.latest {
  border: 4px solid red;
}

.header-bar .logo,
.header-bar .navbar-opts,
.header-bar .searchbar,
.header-bar .menuburger,
.navbar-top div,
.banner .banner-words,
.nav-main div {
  border: 2px solid orange;
}

.header-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header-bar > :nth-child(1) {
  width: 66.66667%;
}

.header-bar > :nth-child(2) {
  width: 16.66667%;
}

.header-bar > :nth-child(3) {
  width: 16.66667%;
}

.logo {
  -webkit-box-ordinal-group: -9;
      -ms-flex-order: -10;
          order: -10;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.logo img {
  width: 100%;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.btn-phone {
  width: 64px;
  height: 79.11px;
}

.btn-phone img {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.btn-group1 {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.searchbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.searchbar input {
  width: 100%;
}

.btn, .navbar-opts, .menuburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

@media (min-width: 768px) {
  .header-bar {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .header-bar > :nth-child(1) {
    width: 57.14286%;
  }
  .header-bar > :nth-child(2) {
    width: 0%;
  }
  .header-bar > :nth-child(3) {
    width: 14.28571%;
  }
  .header-bar > :nth-child(4) {
    width: 28.57143%;
  }
  .logo {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .navbar-opts {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 0;
  }
  .navbar-opts .btn-phone {
    display: none;
  }
  .menuburger {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .searchbar {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (min-width: 992px) {
  .header-bar > :nth-child(1) {
    width: 57.14286%;
  }
  .header-bar > :nth-child(2) {
    width: 28.57143%;
  }
  .header-bar > :nth-child(3) {
    width: 14.28571%;
  }
  .navbar-opts {
    -ms-flex-preferred-size: 120px;
        flex-basis: 120px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .navbar-opts .btn-group1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .searchbar {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 0;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
  .searchbar input {
    display: none;
  }
}

@media (min-width: 1260px) {
  .header-bar > :nth-child(1) {
    width: 33.33333%;
  }
  .header-bar > :nth-child(2) {
    width: 16.66667%;
  }
  .header-bar > :nth-child(3) {
    width: 16.66667%;
  }
  .header-bar > :nth-child(4) {
    width: 33.33333%;
  }
  .searchbar input {
    display: initial;
  }
}

.navbar-top {
  display: -ms-grid;
  display: grid;
  max-width: 100%;
  text-align: center;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.banner {
  width: 100%;
  position: relative;
}

.banner img {
  width: 100%;
}

.banner .banner-words {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
}

.nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-main div {
  width: 200px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
/*# sourceMappingURL=styles.css.map */