$bg-dark: rgb(51, 54, 69);
$bg-lite: rgb(246, 246, 246);
$grey-lt: rgb(229, 229, 229);
$grey-md: rgb(204, 204, 204);
$grey-md-dk: rgb(153,154,162);
$grey-dk: rgb(116, 116, 116);




//Schema colours
$col-seagrey:rgb(103,128,159);
$col-blue:rgb(65,131,215);
$col-green:rgb(46,204,113);
$col-red:rgb(214,69,65);
$col-purple:rgb(146,111,177);
$col-pink:rgb(246,36,89);