//Apply the specified colour to the included properties
@mixin colour-schema-news ($colour) {
    a:nth-of-type(1) {
        color: $colour;
    }
    a:not(:nth-of-type(1)) {
        background-color:$colour;
        &:hover {
            background-color:darken($colour, 10);
        }
    }

}


@mixin colour-schema-nav ($colour) {
    
    .readmore, .icon {
        background-color: $colour;
    }
    .icon {
        img:nth-child(1){ display:inline-block; }
        img:nth-child(2){ display:none; }
    }

    &:hover {
        background-color:$colour;
        .readmore {
            color:$colour
        }
        .readmore, .icon {
            background-color: white;
        }
        h2, p {
            color:white;
        }
        span {
            background-color: white;
        }
        .icon {
            img:nth-child(1){ display:none; }
            img:nth-child(2){ display:inline-block; }
        }
    }
}