$btn-icon-width:60px;
$btn-height: 60px;
$gutter-size: 20px;
$btn-bord-rad: 5px;

//Horizontal padding for the entire page. 
$x-pad_page:20px;        

//Horizontal gutters for <section> .flex-containers
$x-gutter_section: 30px;

//Vertical gutters and padding for .nav-center and
// .latest sections.
$y-gutter_section: $x-gutter_section;
$y-pad_panel: $y-gutter_section;
$y-pad_section: 50px;

//Buttons for about and splash
@mixin btn-style-1 ($txt-colour, $bg-colour, $y-pad:10px) {
    padding: $y-pad 20px;
    border-radius: 5px;
    width: auto;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block;
    color: $txt-colour;
    background-color: $bg-colour;
    &:hover { background-color: darken($bg-colour, 10); }
}